<!DOCTYPE html>
<html>
<head>
  <title>Proxy</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

<%= yield %>

</body>
</html>
